/* Movie.css */
body{
    background-color:white;
}

.movie-card {
    position: relative;
    border: 1px solid orange;
    border-radius: 8px;
    padding: 1rem;
    background-color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    min-height:47em;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-img-wrapper {
    position: relative;
    width: 100%;
  }
  
  .movie-img {
    width: 18em;
    height: 30em;
    border-radius: 6px;
    margin-bottom: 1rem;
  }
  
  .movie-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }
  
  .movie-tagline {
    font-style: italic;
    font-size: 0.9rem;
    color: #555;
  }
  
  .movie-rating {
    color: goldenrod;
    font-weight: bold;
    margin-top: 0.5rem;
  }
  
  .movie-watch-count {
    font-size: 0.9rem;
    color: #444;
    margin-top: 1rem;
  }
  
  .movie-button {
    position: absolute;
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    border: none;
    border-radius: 9999px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .top-button {
    top: 10px;
    right: 10px;
  }
  
  .bottom-button {
    bottom: 10px;
    right: 10px;
  }
  
  .movie-button.blue {
    background-color: #007bff;
    color: white;
  }
  
  .movie-button.blue:hover {
    background-color: #0056b3;
  }
  
  .movie-button.green {
    background-color: #28a745;
    color: white;
  }
  
  .movie-button.gray {
    background-color: #6c757d;
    color: white;
    cursor: not-allowed;
  }
  
  .movie-button.red {
    background-color: #dc3545;
    color: white;
  }
  
  .movie-button.red:hover {
    background-color: #b02a37;
  }
  
  .pulse {
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.5);
    }
    70% {
      box-shadow: 0 0 0 10px rgba(40, 167, 69, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(40, 167, 69, 0);
    }
  }

  @media(max-width:430px){
    .movie-card{
        padding:0.5em;
    }
    .movie-img {
      width: 14em;
      height: 30em;
      border-radius: 6px;
      margin-bottom: 1rem;
    }
    .movie-img-wrapper{
        width:100%;
    }
  }
  